<h1 align = "center" > Sign Up </h1>
<form action = "/app/signup">


<h3 align = 'center'>Username: <input type = 'text' name="username" value = "{{username}}" > People can contact you under this name </h3>
<h3 align = 'center'>Password: <input type = 'password' name = "password" > </h3>
<h3 align = 'center'>Name: <input type = 'text' name = "name" value = "{{name}}" > </h3>
<h3 align = 'center'>Phone Number: <input type = 'text' name = "phonenumber" value = "{{phonenumber}}" > </h3>
<h3 align = 'center'>Email Address: <input type = 'text' name = "email" value = "{{email}}" > </h3>
<h4 align = center><input type="SUBMIT" value="Sign Up"></h4></form>
<h3 align = 'center'>{{message}}</h3>